@model DistroLab2.ViewModels.IndexInfoViewModel
@{
    ViewBag.Title = "Dist2 - Index";
}


<html>
<head>
</head>
<body>
    <h1>Welcome: @Model.Username</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p><b>Last login:</b> @Model.LastLogin <b>Amount of logins this month:</b> @Model.LoginsThisMonth</p>
    <p><b>Unread mails:</b> @Model.UnreadMails</p>
</body>
</html>
