@{
    ViewBag.Title = "Dist1 - Index";
}

@{ 
    string a = DateTime.Now.ToString();

    System.Diagnostics.Debug.WriteLine("currentTimeMili: " + a);

    using (var db = new DistroLab2.Database.DatabaseContext())
    {
        foreach(DistroLab2.Database.User u in db.Users.ToArray())
        {
            System.Diagnostics.Debug.WriteLine("User: " + u.name);
        }
    }
}

<div class="jumbotron">
    <h1>Welcome</h1>
</div>