@model DistroLab2.ViewModels.MessageViewModel
@{
    ViewBag.Title = "WriteMail";
}

@{
    DistroLab2.ViewModels.MailUserViewModel[] usrs = DistroLab2.Controllers.Mail_Controllers.WriteController.getUsers();
}

@{
    var usernames = new List<string>();

    for(int i = 0; i < usrs.Length; i++)
    {
        usernames.Add(usrs[i].Username);
    }

    MultiSelectList msl = new MultiSelectList(usernames);

}
    <h2>WriteMail</h2>

    <html>
    <head>

    </head>
    <body>

        <p>Users</p>
        @using (Html.BeginForm("RegisterMail", "Write"))
        {
            @Html.ListBox("UserListViewModel", msl, new { style = "width: 200px; height: 200px" })
            
            <p>Mail Title:</p>
            @Html.TextBox("Title", "", new { style = "width: 200px" })

            <p>Mail Content:</p>
            @Html.TextArea("Message", new { style = "width: 400px" })

            <p></p>
            <input type="submit" />
        }

        @if (Model != null)
        {
            string[] Succcess = new string[Model.Receivers.Length];

            for (int i = 0; i < Model.Receivers.Length; i++) {
                Succcess[i] = "Message number: " +Model.MessId.ToString() +" Sent to: " +Model.Receivers[i] +" Sent at: " + Model.Timestamp;
            }


            if (Model.Success == true)
            {
                <p>Send succsesfull</p>

                foreach (string s in Succcess)
                {
                    @Html.Raw(s)
                    <p></p>
                }
            }
            else
            {
                <p>Send failed</p>
            }
        }

    </body>
</html>
