@{
    ViewBag.Title = "WriteMail";
}

@{
    DistroLab2.ViewModels.MailUserViewModel[] usrs = DistroLab2.Controllers.Mail_Controllers.WriteController.getUsers();
}

@{
    var usernames = new List<string>();

    for(int i = 0; i < usrs.Length; i++)
    {
        usernames.Add(usrs[i].Username);
    }

    MultiSelectList msl = new MultiSelectList(usernames);
}
    <h2>WriteMail</h2>

    <html>
    <head>
        
    </head>
    <body>

        <p>Users</p>
        @using (Html.BeginForm("WriteHello", "Write"))
        {
            @Html.ListBox("UserListViewModel", msl)
            <p></p>
            <input type="submit" />
        }
    </body>
</html>
