
@{
    ViewBag.Title = "ListGroups";
}

@{
    DistroLab2.ViewModels.GroupViewModel[] groups = DistroLab2.Controllers.Mail_Controllers.GroupController.getAllGroups(User.Identity.Name);

    var groupNames = new List<string>();

    if (groups != null)
    {
        for (int i = 0; i < groups.Length; i++)
        {
            groupNames.Add(groups[i].GroupName);
        }
    }

    SelectList sl = new SelectList(groupNames);
}

<html>
<head>

</head>
<body>
    <h2>ListGroups</h2>

    @using (Html.BeginForm("JoinGroup", "Group"))
    {
        <p>Groups</p>
        @Html.ListBox("GroupListName", sl, new { style = "width: 800px" })

        <p></p>
        <input type="submit" value="Join" />
        <p></p>
    }
</body>
</html>