@model DistroLab2.ViewModels.InboxViewModelWrapper
@{
    ViewBag.Title = "Inbox";
}

@{
    DistroLab2.ViewModels.InboxViewModel[] messages = Model.InboxVMs;

    var titles = new List<string>();

    if (messages != null)
    {
        for (int i = 0; i < messages.Length; i++)
        {
            titles.Add(messages[i].Id + ": " + messages[i].Title + " \t| " + messages[i].TimeStamp);
        }
    }

    SelectList sl = new SelectList(titles);
}

<html>
<head>

</head>
<body>
    <h2>Mail Inbox</h2>

    @using (Html.BeginForm("DisplaySpecificMail", "Mail"))
    {
        <p>Mails</p>
        @Html.ListBox("MailList", sl, new { style = "width: 800px" })
        <p></p>
        <input type="submit" name="button" value="View" />
        <input type="submit" name="button" value="Delete" />
        <p></p>
    }

    <br />
    <br />
    <br />
    <p><b>Removed mess:</b> @Model.Svm.RemovedMess <b> Read mess:</b> @Model.Svm.ReadMess <b>Total mess:</b> @Model.Svm.TotalMess</p>
</body>
</html>