@model DistroLab2.ViewModels.SpecificMailViewModel
@{
    ViewBag.Title = "SpecificMail";
}

<html>
<head>
</head>
<body>
    <h3>Title: @Model.Title</h3>
    <h4>From: @Model.Sender</h4>
    <h3>Message:</h3>
    @Model.Message
</body>
</html>